<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">

<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-menu/paper-submenu.html">


<dom-module id="mr-menu">
  <style>
    paper-item, paper-icon-item {
      cursor: pointer;
    }
  </style>
  <template>
    <!-- Drawer Toolbar -->
    <paper-toolbar id="drawerToolbar">
      <span class="paper-font-title">Меню</span>
    </paper-toolbar>

    <!-- Drawer Content -->
    <div>
      <auth-user value="{{authUser}}"></auth-user>
      <iron-signals on-iron-signal-route-changed="_routeChanged"></iron-signals>

      <paper-menu class="list" selected="{{selected}}" attr-for-selected="page">
        <paper-icon-item page="/">
          <iron-icon icon="home" item-icon></iron-icon>
          Главная
        </paper-icon-item>

        <template is="dom-if" if$="{{authUser}}" respawn>
          <paper-icon-item page="/drafts">
            <iron-icon icon="visibility-off" item-icon></iron-icon>
            Черновики
          </paper-icon-item>
          <paper-submenu>
            <paper-icon-item class="menu-trigger">
              <iron-icon icon="add" item-icon></iron-icon>
              Добавить
            </paper-icon-item>
            <paper-menu class="menu-content" selected="{{selected}}" attr-for-selected="page">
              <paper-icon-item page="/new/post">
                <iron-icon icon="add" item-icon></iron-icon>
                Пост
              </paper-icon-item>
              <paper-icon-item page="/new/article">
                <iron-icon icon="add" item-icon></iron-icon>
                Статья
              </paper-icon-item>
              <paper-icon-item page="/new/prose">
                <iron-icon icon="add" item-icon></iron-icon>
                Проза
              </paper-icon-item>
              <paper-icon-item page="/new/poetry">
                <iron-icon icon="add" item-icon></iron-icon>
                Поэзия
              </paper-icon-item>
              <paper-icon-item page="/new/label">
                <iron-icon icon="label" item-icon></iron-icon>
                Раздел
              </paper-icon-item>
            </paper-menu>
          </paper-submenu>
        </template>

      </paper-menu>
    </div>
  </template>
  <script>
    Polymer({
      is: "mr-menu",
      properties: {
        selected: {
          type: String,
          observer: "_onSelected"
        }
      },
      _onSelected: function () {
        if (this.selected !== page.current) {
          page(this.selected);
        }
      },
      _routeChanged: function () {
        this.selected = page.current;
      }
    });
  </script>
</dom-module>