<dom-module id="mr-pager">
  <style>
    .pager {
      text-align: center;
    }
  </style>
  <template>
    <div class="pager" hidden$="{{!model}}">
      <meta-button method="GET" suffix$="{{prevSuffix(page,model)}}" update-model>
        <paper-icon-button icon="icons:arrow-back" hidden$="{{hidePrev(page)}}"></paper-icon-button>
      </meta-button>

      <span>{{currPage(page,pagesTotal)}}</span>

      <meta-button method="GET" suffix$="{{nextSuffix(page,model)}}" update-model>
        <paper-icon-button icon="icons:arrow-forward" hidden$="{{hideNext(model,page)}}"></paper-icon-button>
      </meta-button>
    </div>
  </template>
  <script>
    Polymer({
      is: "mr-pager",
      properties: {
        model: {
          type: Object,
          notify: true
        },
        perPage: {
          type: Number,
          value: 10
        },
        page: {
          computed: "_page(model,perPage)"
        },
        pagesTotal: {
          computed: "_pagesTotal(model,perPage)"
        }
      },
      _page: function() {
        return this.model && this.model.offset ? this.model.offset / this.perPage : 0;
      },
      _pagesTotal: function() {
        return this.model && this.model.agg && this.model.agg.count ? Math.floor(this.model.agg.count / this.perPage) : 0;
      },
      currPage: function() {
        return  (this.page + 1) + " / " + (this.pagesTotal + 1);
      },
      hideNext: function () {
        return !this.model || !this.model.agg || this.model.agg.count <= (this.page + 1) * this.perPage;
      },
      hidePrev: function () {
        return this.page <= 0;
      },
      nextSuffix: function () {
        return "offset=" + (this.page+1)*this.perPage + "&limit=" + this.perPage;
      },
      prevSuffix: function () {
        return this.filter + (this.filter ? "&" : "") + "offset=" + (this.page+1)*this.perPage + "&limit=" + this.perPage;
      }
    });
  </script>
</dom-module>